.settings {
  display: flex;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../../images/SWBobaFett.jpg");
  background-size: cover;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: #22ba1a;
}

.settingsDeleteTitle {
  color: #eb212e;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsProfilePic {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsProfilePic > img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPicIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #2e67f8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingsFormLabel {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
}

.settingsSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #22ba1a;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
